@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url(./assets/fonts/Lato-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url(./assets/fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url(./assets/fonts/Lato-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: url(./assets/fonts/Lato-Black.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  /* margin: 0; */
  font-family: 'Lato', sans-serif;
}

.content {
  width: 1020px;
  margin: 0 auto;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: #2d303a;
}

.header--body {
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--title {
  margin: 0;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  transform-origin: 0px 0px;
  transform: scaleX(0.96);
}

.header--title::after {
  content: '*';
  color: #f06c64;
}

.navigation {
  width: 370px;
  display: flex;
  justify-content: space-between;
  padding: 4px 0 0 0;
  margin: 0;
  list-style: none;
  
}
.navigation .dot {
  color: #555555;
  transform: translateY(-3px);
}
.navigation--item {
  display: inline-block;
}

.navigation--link {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

}
.navigation--link.link-active {
  color: #f06c64;
}
.navigation--link:hover {
  text-decoration: underline;
  color: yellow;
}



.header--bottom {
  height: 6px;
  background-color: #323746;
}

.slider--body {
  background-color: #f06c64;
}

.slider--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 594px;
}

.slider--chev:hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
}

.slider--phone {
  position: relative;
}

.phone-horizontal {
  left: 5px;
}

.phone-vertical {
  right: 5px;
}

.phone--base {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 27px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.phone-horizontal .phone--base {
  flex-direction: row-reverse;
  width: 458px;
  height: 215px;
}

.phone-vertical .phone--base {
  flex-direction: column;
  width: 215px;
  height: 458px;
}

.phone--cam {
  width: 9px;
  height: 9px;
  border-radius: 4px;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-vertical .phone--cam {
  margin-top: 16px;
}

.phone-horizontal .phone--cam {
  margin-right: 16px;
}

.cam--red-dot {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #eb5055;
}

.phone--speaker {
  border-radius: 3px;
  background-color: #acacac;
}

.phone-vertical .phone--speaker {
  width: 36px;
  height: 5px;
  margin-top: 10px;
}

.phone-horizontal .phone--speaker {
  width: 5px;
  height: 36px;
  margin-right: 10px;
}

.phone--screen {
  border: 3px solid #c6c6c6;
  border-radius: 3px;
}

.phone-vertical .phone--screen {
  width: 194px;
  height: 338px;
  background: url(./assets/images/screen_vertical.png) -14px -135px;
  margin-top: 22px;
}

.phone-horizontal .phone--screen {
  height: 194px;
  width: 338px;
  background: url(./assets/images/screen_horizont.png) -125px -119px;
  margin-right: 22px;
}

.phone--home-btn {
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-vertical .phone--home-btn {
  margin-top: 7px;
}

.phone-horizontal .phone--home-btn {
  margin-right: 7px;
}

.home--square {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 2px solid #bababa;
}

.slider--bottom {
  height: 6px;
  background-color: #ea676b;
}

.services--body {
  padding-bottom: 30px;
  background-color: #f2f2f2;

}

.services--bottom {
  height: 6px;
  background-color: #ffffff;
}

.services--content {
  padding-top: 60px;
}

.services--title {
  margin: 0;
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
}

.services--text {
  margin: 18px 0 0 0;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
}

.services--text::first-line {
  word-spacing: 1px;
}

.layout-flex-3-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 45px;
}

.layout-flex-3-column>* {
  flex: 0 0 32%;
}

.article {
  display: flex;
  margin: 0 0 0 0;
}

.article--icon {
  background-size: 32px 32px;
  width: 59px;
  height: 59px;
  border-radius: 29px;
  border: 2px solid #666d89;
  flex-shrink: 0;
}

.icon-pen {
  background: url(./assets/images/pen.svg) no-repeat center center;
}

.icon-bulb {
  background: url(./assets/images/bulb.svg) no-repeat center center;
}

.icon-heart {
  background: url(./assets/images/heart.svg) no-repeat center center;
}

.icon-phone {
  background: url(./assets/images/phone.svg) no-repeat center center;
}

.icon-bubble {
  background: url(./assets/images/bubble.svg) no-repeat center center;
}

.icon-star {
  background: url(./assets/images/star.svg) no-repeat center center;
}

.article--body {
  padding: 0 2px 30px 20px;
  height: 123px;
  overflow: hidden;
}

.article--title {
  margin: 0;
  font-size: 18px;
  line-height: 14px;
  color: #666d89;
  font-weight: 900;
}

.article--text {
  margin: 12px 0 0 0;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  text-align: justify;
}

.portfolio {
  padding-top: 60px;
  background-color: #2d303a;
}

.portfolio__title {
  font-size: 30px;
  line-height: 35px;
  color: #666d89;
  font-weight: 900;
}

.portfolio__text {
  margin-top: 18px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
}

.portfolio__images {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  height: 22px;
  padding: 0 7px;
  margin-right: 6px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 5px;
}

.tag-bordered {
  color: #767e9e;
  border: 1px solid #666d89;
}

.tag-selected {
  border: 1px solid #c5c5c5;
  color: #dedede;
}

.tag:hover {
  border: 1px solid yellow;
  color: yellow;
  cursor: pointer;
}

.portfolio__pictures {
  margin-top: 20px;
}

.layout_4_column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 187px);
  grid-gap: 20px;
}

.portfolio__img {
  background-color: #464b5e;
}

.img1 {
  background: url('./assets/images/portfolio/img1.png') no-repeat -9px -12px;
  background-size: 109%;
}

.img2 {
  background: url('./assets/images/portfolio/img2.png') no-repeat -83px -44px;
  background-size: 166%;
}

.img3 {
  background: url('./assets/images/portfolio/img3.png') no-repeat -10px -1px;
  background-size: 113%;
}

.img4 {
  background: url('./assets/images/portfolio/img4.png') no-repeat -24px -4px;
  background-size: 120%;
}

.img5 {
  background: url('./assets/images/portfolio/img5.png') no-repeat -10px -17px;
  background-size: 110%;
}

.img6 {
  background: url('./assets/images/portfolio/img6.png') no-repeat -16px -5px;
  background-size: 118%;
}

.img7 {
  background: url('./assets/images/portfolio/img7.png') no-repeat -32px -40px;
  background-size: 170%;
}

.img8 {
  background: url('./assets/images/portfolio/img8.png') no-repeat -24px -33px;
  background-size: 126%;
}

.img9 {
  background: url('./assets/images/portfolio/img9.png') no-repeat -15px -3px;
  background-size: 115%;
}

.img10 {
  background: url('./assets/images/portfolio/img10.png') no-repeat -140px -114px;
  background-size: 215%;
}

.img11 {
  background: url('./assets/images/portfolio/img11.png') no-repeat -144px -175px;
  background-size: 188%;
}

.img12 {
  background: url('./assets/images/portfolio/img12.png') no-repeat -35px -60px;
  background-size: 134%;
}

.portfolio__bottom {
  height: 6px;
  margin-top: 66px;
  background-color: #323746;
}

.about {
  padding-top: 67px;
  background-color: #f2f2f2;
}

.about__title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
}

.about__text {
  margin-top: 28px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
}

.about__text::first-line {
  word-spacing: 1.1px;
}

.about__people {
  margin-top: 44px;
}

.layout-3-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.person__photo {
  height: 300px;
  background-color: #464b5e;
}

.person1 .person__photo {
  background: url('./assets/images/photo/photo1.png') no-repeat;
}

.person2 .person__photo {
  background: url('./assets/images/photo/photo2.png') no-repeat;
}

.person3 .person__photo {
  background: url('./assets/images/photo/photo3.png') no-repeat;
}

.person__title {
  width: 300px;
  margin-top: 15px;
  padding: 2px 0;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  letter-spacing: -0.1px;
  white-space: nowrap;
  overflow-x: hidden;
}

.person__text {
  margin-top: 8px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  text-align: justify;
}

.person:first-child .person__text::first-line {
  word-spacing: -1px;
}

.person__media {
  margin-top: 22px;
  display: flex;
}

.media {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 8px;
  border: 1px solid #666d89;
}

.media-facebook {
  background: url('./assets/images/media/facebook.png') no-repeat center center;
}

.media-google {
  background: url('./assets/images/media/google.png') no-repeat center center;
}

.media-twitter {
  background: url('./assets/images/media/twitter.png') no-repeat center center;
}

.media-linked {
  background: url('./assets/images/media/linkedin.png') no-repeat center center;
}

.media:hover {
  cursor: pointer;
  box-shadow: 0 0 5px blue;
}

.about__bottom {
  height: 6px;
  margin-top: 68px;
  background-color: #ffffff;
}


.quote {
  position: relative;
  background-color: #f06c64;
  padding-top: 68px;
  padding-bottom: 22px;
}

.quote__title {
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-weight: 900;
  margin-bottom: 26px;
}

.quote__text {
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-weight: 300;
  margin-bottom: 26px;
}

.quote__text::first-line {
  word-spacing: 1.1px;
}

.quote__contact {
  padding-top: 18px;
}

.layout-21-column {
  display: flex;
}

.contact-field {
  margin-bottom: 16px;
}

.contact-field input, .contact-field textarea {
  width: 619px;
  padding: 7px 14px;
  border: 0;
  border-radius: 5px;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-weight: 400;
}

.contact-field input {
  height: 38px;
}

.contact-field textarea {
  height: 202px;
  resize: none;
}

.contact-button {
  text-align: right;
}
.contact-button button {
  width: 100px;
  padding: 7px 14px;
  border: 0;
  border-radius: 5px;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: 400;
  cursor: pointer;
}

.contact-button button:hover {
  background-color: #a7302a;
}

.contact__info {
  padding-left: 20px;
}

.contact__title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-weight: 900;
}

.contact__text {
  margin-bottom: 20px;
  text-align: justify;
  word-spacing: -0.05px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: 400;
}

.contact__points, .contact__points a:link, .contact__points a:visited {
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: 400;
  text-decoration: none;
}

.contact__points a:hover {
  text-decoration: underline;
}

.icon-point {
  display: inline-block;
  width: 14px;
  height: 10px;
  margin: 0 8px 0 0;
  background-size: 100% 100%;
}

.icon__point-location {
  background: url('./assets/images/contact/location.png') no-repeat center;
}

.icon__point-tel {
  background: url('./assets/images/contact/phone.png') no-repeat center;
}

.icon__point-mail {
  background: url('./assets/images/contact/mail.png') no-repeat center 2px;
}

.quote__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #ea676b;
}

.footer {
  height: 76px;
  background-color: #2d303a;
}

.footer .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  padding-left: 2px;
  letter-spacing: -0.2px;
  color: #666d89;
  font-size: 12px;
  line-height: 14px;
}

.footer__media {
  display: flex;
}

.footer-ico {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #666d89;
  margin-left: 8px;
}

.footer__facebook {
  background: url('./assets/images/media/facebook.png') no-repeat center;
}

.footer__google {
  background: url('./assets/images/media/google.png') no-repeat center;
}

.footer__twitter {
  background: url('./assets/images/media/twitter.png') no-repeat center;
}

.footer__in {
  background: url('./assets/images/media/linkedin.png') no-repeat center;
}

.footer-ico:hover {
    cursor: pointer;
    box-shadow: 0 0 10px yellow; 
}